<!-- Completed surveys - details (all) -->

<!-- only WAFS is complete for now (h4 added) -->

<%- include('./partials/head.ejs') %>

  <%- include('./partials/header.ejs') %>

    <div>

      <!-- Algemeen -->
      <h1>Algemeen</h1>
      <h2>
        <%= enquete.naam %>
      </h2>
      <h2>
        <%= enquete.studentnummer %>
      </h2>

      <!-- WAFS -->
      <h1>WAFS</h1>
      <h2>WAFS docent</h2>
      <p>
        <%= enquete.WAFSdocent %>
      </p>

      <h2>WAFS weken</h2>
      <p>
        <%= enquete.WAFSweken %>
      </p>

      <h2>WAFS moeilijk</h2>
      <p>
        <%= enquete.WAFSmoelijk %>
      </p>

      <h2>WAFS uitleg</h2>
      <p>
        <%= enquete.WAFSuitleg %>
      </p>

      <h2>WAFS snappen</h2>
      <p>
        <%= enquete.WAFSsnappen %>
      </p>

      <h2>WAFS cijfer</h2>
      <p>
        <%= enquete.WAFScijfer %>
      </p>

      <!-- CSSttR -->
      <h1>CSSttR</h1>
      <p>
        <%= enquete.CSSttRdocent %>
      </p>
      <p>
        <%= enquete.CSSttRweken %>
      </p>>
      <p>
        <%= enquete.CSSttRmoelijk %>
      </p>
      <p>
        <%= enquete.CSSttRuitleg %>
      </p>
      <p>
        <%= enquete.CSSttRsnappen %>
      </p>
      <p>
        <%= enquete.CSSttRcijfer %>
      </p>

      <!-- PWA -->
      <h2>PWA</h2>
      <p>
        <%= enquete.PWAdocent %>
      </p>
      <p>
        <%= enquete.PWAweken %>
      </p>
      <p>
        <%= enquete.PWAmoelijk %>
      </p>
      <p>
        <%= enquete.PWAuitleg %>
      </p>
      <p>
        <%= enquete.PWAsnappen %>
      </p>
      <p>
        <%= enquete.PWAcijfer %>
      </p>

      <!-- BT -->
      <h2>BT</h2>
      <p>
        <%= enquete.BTdocent %>
      </p>
      <p>
        <%= enquete.BTweken %>
      </p>
      <p>
        <%= enquete.BTmoelijk %>
      </p>
      <p>
        <%= enquete.BTuitleg %>
      </p>
      <p>
        <%= enquete.BTsnappen %>
      </p>
      <p>
        <%= enquete.BTcijfer %>
      </p>

      <!-- RTW -->
      <h2>RTW</h2>
      <p>
        <%= enquete.RTWdocent %>
      </p>
      <p>
        <%= enquete.RTWweken %>
      </p>
      <p>
        <%= enquete.RTWmoelijk %>
      </p>
      <p>
        <%= enquete.RTWuitleg %>
      </p>
      <p>
        <%= enquete.RTWsnappen %>
      </p>
      <p>
        <%= enquete.RTWcijfer %>
      </p>

      <!-- HCD -->
      <h2>HCD</h2>
      <p>
        <%= enquete.HCDdocent %>
      </p>
      <p>
        <%= enquete.HCDweken %>
      </p>
      <p>
        <%= enquete.HCDmoelijk %>
      </p>
      <p>
        <%= enquete.HCDuitleg %>
      </p>
      <p>
        <%= enquete.HCDsnappen %>
      </p>
      <p>
        <%= enquete.HCDcijfer %>
      </p>


    </div>

    <%- include('./partials/footer.ejs') %>