<!-- Completed surveys - details (all) -->

<!-- only WAFS is complete for now (h4 added) -->

<%- include('./partials/head.ejs') %>

  <div>

    <!-- Algemeen -->
    <h2>Algemeen</h2>
    <h3>
      <%= enquete.naam %>
    </h3>
    <h4>
      <%= enquete.studentnummer %>
    </h4>

    <!-- WAFS -->
    <h2>WAFS</h2>
    <h4>WAFS docent</h4>
    <p>
      <%= enquete.WAFSdocent %>
    </p>

    <h4>WAFS weken</h4>
    <p>
      <%= enquete.WAFSweken %>
    </p>

    <h4>WAFS moeilijk</h4>
    <p>
      <%= enquete.WAFSmoelijk %>
    </p>

    <h4>WAFS uitleg</h4>
    <p>
      <%= enquete.WAFSuitleg %>
    </p>

    <h4>WAFS snappen</h4>
    <p>
      <%= enquete.WAFSsnappen %>
    </p>

    <h4>WAFS cijfer</h4>
    <p>
      <%= enquete.WAFScijfer %>
    </p>

    <!-- CSSttR -->
    <h2>CSSttR</h2>
    <p>
      <%= enquete.CSSttRdocent %>
    </p>
    <p>
      <%= enquete.CSSttRweken %>
    </p>>
    <p>
      <%= enquete.CSSttRmoelijk %>
    </p>
    <p>
      <%= enquete.CSSttRuitleg %>
    </p>
    <p>
      <%= enquete.CSSttRsnappen %>
    </p>
    <p>
      <%= enquete.CSSttRcijfer %>
    </p>

    <!-- PWA -->
    <h2>PWA</h2>
    <p>
      <%= enquete.PWAdocent %>
    </p>
    <p>
      <%= enquete.PWAweken %>
    </p>
    <p>
      <%= enquete.PWAmoelijk %>
    </p>
    <p>
      <%= enquete.PWAuitleg %>
    </p>
    <p>
      <%= enquete.PWAsnappen %>
    </p>
    <p>
      <%= enquete.PWAcijfer %>
    </p>

    <!-- BT -->
    <h2>BT</h2>
    <p>
      <%= enquete.BTdocent %>
    </p>
    <p>
      <%= enquete.BTweken %>
    </p>
    <p>
      <%= enquete.BTmoelijk %>
    </p>
    <p>
      <%= enquete.BTuitleg %>
    </p>
    <p>
      <%= enquete.BTsnappen %>
    </p>
    <p>
      <%= enquete.BTcijfer %>
    </p>

    <!-- RTW -->
    <h2>RTW</h2>
    <p>
      <%= enquete.RTWdocent %>
    </p>
    <p>
      <%= enquete.RTWweken %>
    </p>
    <p>
      <%= enquete.RTWmoelijk %>
    </p>
    <p>
      <%= enquete.RTWuitleg %>
    </p>
    <p>
      <%= enquete.RTWsnappen %>
    </p>
    <p>
      <%= enquete.RTWcijfer %>
    </p>

    <!-- HCD -->
    <h2>HCD</h2>
    <p>
      <%= enquete.HCDdocent %>
    </p>
    <p>
      <%= enquete.HCDweken %>
    </p>
    <p>
      <%= enquete.HCDmoelijk %>
    </p>
    <p>
      <%= enquete.HCDuitleg %>
    </p>
    <p>
      <%= enquete.HCDsnappen %>
    </p>
    <p>
      <%= enquete.HCDcijfer %>
    </p>


  </div>

  <%- include('./partials/footer.ejs') %>