<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main>

        <form method='post' action='/results' novalidate>

          <ol>

            <!---------- FIRST PAGE ----------->
            <li id="index">
              <fieldset>
                <section>
                  <h1>Minor Web Design & Development</h1>
                  <h2>Enquête</h2>

                  <a href="#login">
                    <input type="button" value="Start">
                  </a>
                </section>
              </fieldset>
            </li>


            <!---------- 'LOGIN' ----------->
            <li id="login">
              <fieldset>
                <span class="loginVoortgang"></span>

                <section>

                  <h1>Algemeen</h1>
                  <h2>Vul je naam & studentnummer in</h2>

                  <label id='naamKey' for='naam'>Naam</label>
                  <input type='text' id='naam' name='naam' placeholder='Naam' required>

                  <label id='studentnummerKey' for='studentnummer'>Studentnummer</label>
                  <input type='text' id='studentnummer' name='studentnummer' placeholder='Studentnummer' required>


                  <a href="#wafs" id="loginButton">
                    <input type="button" value="Volgende">
                  </a>

                </section>
              </fieldset>
            </li>


            <!---------- WAFS ----------->
            <li id="wafs">
              <fieldset>
                <span class="wafsVoortgang"></span>

                <section>
                  <%- include('./partials/wafs.ejs') %>


                    <a href="#login">
                      <input type="button" value='Vorige'>
                    </a>

                    <a href="#cssttr">
                      <input id="wafsButton" type="button" value='Volgende'>
                    </a>

                </section>
              </fieldset>
            </li>


            <!---------- CSSTTR ----------->
            <li id="cssttr">
              <fieldset>
                <span class="cssttrVoortgang"></span>

                <section>
                  <%- include('./partials/cssttr.ejs') %>


                    <a href="#wafs">
                      <input type="button" value='Vorige'>
                    </a>

                    <a href="#pwa">
                      <input id="cssttrButton" type="button" value='Volgende'>
                    </a>

                </section>
              </fieldset>
            </li>


            <!---------- PWA ----------->
            <li id="pwa">
              <fieldset>
                <span class="pwaVoortgang"></span>

                <section>
                  <%- include('./partials/pwa.ejs') %>


                    <a href="#cssttr">
                      <input type="button" value='Vorige'>
                    </a>

                    <a href="#bt">
                      <input id="pwaButton" type="button" value='Volgende'>
                    </a>

                </section>
              </fieldset>
            </li>


            <!---------- BT ----------->
            <li id="bt">
              <fieldset>
                <span class="btVoortgang"></span>

                <section>
                  <%- include('./partials/bt.ejs') %>


                    <a href="#pwa">
                      <input type="button" value='Vorige'>
                    </a>

                    <a href="#rtw">
                      <input id="btButton" type="button" value='Volgende'>
                    </a>

                </section>
              </fieldset>
            </li>


            <!---------- RTW ----------->
            <li id="rtw">
              <fieldset>
                <span class="rtwVoortgang"></span>

                <section>
                  <%- include('./partials/rtw.ejs') %>


                    <a href="#bt">
                      <input type="button" value='Vorige'>
                    </a>

                    <a href="#hcd">
                      <input id="rtwButton" type="button" value='Volgende'>
                    </a>

                </section>
              </fieldset>
            </li>


            <!---------- HCD ----------->
            <li id="hcd">
              <fieldset>
                <span class="hcdVoortgang"></span>

                <section>
                  <%- include('./partials/hcd.ejs') %>


                    <a href="#rtw">
                      <input type="button" value='Vorige'>
                    </a>

                    <!-- SUBMIT BUTTON -->
                    <a href="/end">
                      <input id="submitButton" type="submit" value='Versturen'>
                    </a>

                </section>
              </fieldset>
            </li>

          </ol>

        </form>

  </body>

  </main>

  </html>