<%- include('./partials/head.ejs') %>

  <!-- <section class="carousel"> -->
  <form method='post' action='/results'>

    <ol>

      <!---------- FIRST PAGE ----------->
      <li id="index">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <section>
              <h1>Web Design & Development</h1>
              <h2>Enquête</h2>

              <a href="#login">
                <input type="button" value="Start">
              </a>
            </section>
          </fieldset>
      </li>


      <!---------- 'LOGIN' ----------->
      <li id="login">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="loginVoortgang"></span>

            <section>

              <h1>Algemeen</h1>
              <h2>Vul je naam & studentnummer in</h2>

              <label id='naamKey' for='naam'>Naam</label>
              <input type='text' id='naam' name='naam' placeholder='Naam' required>

              <label id='studentnummerKey' for='studentnummer'>Studentnummer</label>
              <input type='text' id='studentnummer' name='studentnummer' placeholder='Studentnummer' required>

              <!-- <div> -->
              <a href="#wafs" id="loginButton">
                <input type="button" value="Volgende">
              </a>
              <!-- </div> -->
            </section>
          </fieldset>
      </li>


      <!---------- WAFS ----------->
      <li id="wafs">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="wafsVoortgang"></span>

            <section>
              <%- include('./partials/wafs.ejs') %>

                <!-- <div> -->
                <a href="#login">
                  <input type="button" value='Vorige'>
                </a>

                <a href="#cssttr">
                  <input id="wafsButton" type="button" value='Volgende'>
                </a>
                <!-- </div> -->
            </section>
          </fieldset>
      </li>


      <!---------- CSSTTR ----------->
      <li id="cssttr">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="cssttrVoortgang"></span>

            <section>
              <%- include('./partials/cssttr.ejs') %>

                <!-- <div> -->
                <a href="#wafs">
                  <input type="button" value='Vorige'>
                </a>

                <a href="#pwa">
                  <input id="cssttrButton" type="button" value='Volgende'>
                </a>
                <!-- </div> -->
            </section>
          </fieldset>
      </li>


      <!---------- PWA ----------->
      <li id="pwa">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="pwaVoortgang"></span>

            <section>
              <%- include('./partials/pwa.ejs') %>

                <!-- <div> -->
                <a href="#cssttr">
                  <input type="button" value='Vorige'>
                </a>

                <a href="#bt">
                  <input id="pwaButton" type="button" value='Volgende'>
                </a>
                <!-- </div> -->
            </section>
          </fieldset>
      </li>


      <!---------- BT ----------->
      <li id="bt">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="btVoortgang"></span>

            <section>
              <%- include('./partials/bt.ejs') %>

                <!-- <div> -->
                <a href="#pwa">
                  <input type="button" value='Vorige'>
                </a>

                <a href="#rtw">
                  <input id="btButton" type="button" value='Volgende'>
                </a>
                <!-- </div> -->
            </section>
          </fieldset>
      </li>


      <!---------- RTW ----------->
      <li id="rtw">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="rtwVoortgang"></span>

            <section>
              <%- include('./partials/rtw.ejs') %>

                <!-- <div> -->
                <a href="#bt">
                  <input type="button" value='Vorige'>
                </a>

                <a href="#hcd">
                  <input id="rtwButton" type="button" value='Volgende'>
                </a>
                <!-- </div> -->
            </section>
          </fieldset>
      </li>


      <!---------- HCD ----------->
      <li id="hcd">
        <%- include('./partials/header.ejs') %>

          <fieldset>
            <span class="hcdVoortgang"></span>

            <section>
              <%- include('./partials/hcd.ejs') %>

                <!-- <div> -->
                <a href="#rtw">
                  <input type="button" value='Vorige'>
                </a>

                <!-- SUBMIT BUTTON -->
                <a href="">
                  <input id="submitButton" type="submit" value='Versturen'>
                </a>
                <!-- </div> -->
            </section>
          </fieldset>
      </li>

    </ol>

  </form>

  </body>

  <!-- <%- include('./partials/footer.ejs') %> -->

  </main>

  </html>