<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main>

        <form>

          <ol>

            <!---------- FIRST PAGE ----------->
            <li id="results">
              <fieldset>
                <section>
                  <h1>Alle Ingevulde Enquêtes</h1>

                  <% if (enquetes.length> 0) { %>
                    <% enquetes.forEach(enquete=> { %>

                      <div>
                        <a href="/results/<%= enquete._id %>">
                          <h2>
                            <%= enquete.naam %>
                          </h2>
                          <h2>
                            <%= enquete.studentnummer %>
                          </h2>
                        </a>
                      </div>

                      <% }) %>
                        <% } else { %>
                          <p>Looking empty..</p>
                          <% } %>

                </section>
              </fieldset>
            </li>

          </ol>

        </form>

  </body>

  <%- include('./partials/footer.ejs') %>

    </main>

    </html>