<!-- Completed surveys - just name & studentnumber -->

<%- include('./partials/head.ejs') %>

  <%- include('./partials/header.ejs') %>

    <div>
      <a href="/">home</a>
    </div>

    <div>
      <h1> Alle Ingevulde Enquetes</h1>

      <% if (enquetes.length> 0) { %>
        <% enquetes.forEach(enquete=> { %>

          <a href="/results/<%= enquete._id %>">
            <h2>
              <%= enquete.naam %>
            </h2>
            <h2>
              <%= enquete.studentnummer %>
            </h2>
          </a>

          <% }) %>
            <% } else { %>
              <p>Hier is niks</p>
              <% } %>

    </div>

    <!-- <%- include('./partials/footer.ejs') %> -->

    </main>
    </body>

    </html>