<%- include('./partials/head.ejs') %>

  <%- include('./partials/nav.ejs') %>
    <%- include('./partials/header.ejs') %>

      <%- include('./partials/titlewafs.ejs') %>

        <h3>Tijdens welke weken heb je het vak gevolgd?</h3>
        <form action='submit' method='post'>

          <input type='radio' id='PWAweken' name='PWAweken'>
          <label for='PWAweek1-4'>Week 1 - 4</label>

          <input type='radio' id='PWAweken' name='PWAweken'>
          <label for='PWAweek4-9'>Week 4 - 9</label>

          <input type='radio' id='PWAweken' name='PWAweken'>
          <label for='PWAweek10-14'>Week 10 - 14</label>

          <%- include('./partials/button.ejs') %>

        </form>

        <%- include('./partials/footer.ejs') %>