<%- include('./partials/head.ejs') %>

  <%- include('./partials/nav.ejs') %>
    <%- include('./partials/header.ejs') %>

      <%- include('./partials/titlewafs.ejs') %>

        <h3>Hoe goed denk je dat je dit vak nu snapt?</h3>
        <form action='submit' method='post'>

          <input type='text' id='PWAsnappen' name='PWAsnappen'>

          <%- include('./partials/button.ejs') %>

        </form>

        <%- include('./partials/footer.ejs') %>