<%- include('./partials/head.ejs') %>

  <%- include('./partials/nav.ejs') %>
    <%- include('./partials/header.ejs') %>

      <%- include('./partials/titlewafs.ejs') %>

        <h3>Wie was je docent?</h3>
        <form action='/submit' method='POST'>

          <!-- <input type='radio' id='PWAdocent' name='PWAdocent'>
          <label for='PWAJoost'>Joost</label>

          <input type='radio' id='PWAdocent' name='PWAdocent'>
          <label for='PWASuus'>Suus</label> -->

          <label for="moelek">Was het moelek?</label>
          <input type='text' id='PWAmoeilijk' name='PWAmoeilijk' required>

          <button>
            <span></span>verder
          </button>

        </form>

        <%- include('./partials/footer.ejs') %>